<!DOCTYPE html>
<html>
  <head>
    <title>Asteria</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="css/index.css" rel="stylesheet" type="text/css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link href="js/index.js" rel="stylesheet" type="text/javascript" />
  </head>
  <body>
    <!-- Navigation Bar -->
    <div class="navbar">
      <a href="index.html" class="active">Home</a>
      <a href="shop.html">Shop</a>
      <a href="about.html">About</a>
      <a href="contact.html">Contact</a>
      <a href="profile.html" class="fa fa-user"></a>
      <a href="cart.html" class="fa fa-shopping-cart"></a>
      <a href="mail.html" class="fa fa-envelope"></a>
    </div>

    <!-- Header -->
    <div class="header">
      <img src="images/banner_cover.jpg" alt="banner" />
    </div>

    <!-- The flexible grid (content) -->
    <div class="row">
      <div class="side">
        <h2>The Most Popular Manhwa of March</h2>
        <h5>March 25, 2023</h5>
        <div class="cover"><img src="images/siren_cover.jpg" /></div>
        <h3>The Siren: Becoming the Villain's Family</h3>
        <div class="banner"><img src="images/siren_banner.jpg" /></div>
        <h3>Description</h3>
        <p>
          “If there is a next life, I will save you.” Aria is the last remaining
          siren, a monster who bewitches humans with song. Shackled, she is
          forced to sing to nobles until she coughs blood. By the time the
          demonized Grand Duke Lloyd Valentine frees her, it’s too late. She has
          already breathed her last… or so she thinks. When she awakens in the
          past, Aria dedicates her life to protecting the duke, but she wonders
          if that’s really all her life is worth. Will she ever be free? Or is
          this siren destined to sing the same song forever?
        </p>
      </div>
      <div class="main">
        <div class="solitary_lady">
          <h1>Hot March Picks</h1>
          <h2>Solitary Lady</h2>
          <h5>March 25, 2023</h5>
          <div class="banner">
            <img src="images/solitary_lady_banner.jpg" />
          </div>
          <h3>Description</h3>
          <p>
            Noblewoman Hillis Inoaden has had many lives so far (seven, to be
            exact) but she has always been regarded the same in all of them:
            meek, submissive, and a pest. But in her eighth resurrection, she no
            longer bends to the nobles that encircle her, nor does she continue
            to live in the shadows of her wicked brother and stepsister. With a
            sacred power passed down from her lineage and the title of Family
            Head, she sets out for revenge and to change the grave destiny that
            awaits her. <br />
          </p>
        </div>

        <h2>Roxana</h2>
        <h5>March 24, 2023</h5>
        <div class="banner"><img src="images/roxana_banner.jpg" /></div>
        <h3>Description</h3>
        <p>
          Kidnapping, murder, and risqué relationships! Within the scandalous
          pages of The Abysmal Flower, the downfall of Roxana Agrece’s criminal
          family is already foretold. So when Cassis Pedelian, the heroine’s
          older brother, is kidnapped by Roxana’s father, she can either wait
          for the heroine’s revenge... or take matters into her own hands, since
          Cassis is the key to her survival. But with deceitful characters on
          all sides, can Roxana and Cassis trust each other enough to bring down
          the brutal Agreces?
        </p>
      </div>
    </div>

    <!-- Footer -->
    <div class="footer">
      <a> Contact Us </a>
      <div class="socials">
        <a href="https://vk.com/kristie_3" class="fa fa-vk" target="_blank"></a>
        <a
          href="https://instagram.com/melody0fheart"
          class="fa fa-instagram"
          target="_blank"
        ></a>
        <a
          href="https://twitter.com/Kristie____"
          class="fa fa-twitter"
          target="_blank"
        ></a>
        <a
          href="https://t.me/Kristie_3"
          class="fa fa-telegram"
          target="_blank"
        ></a>
      </div>
    </div>
  </body>
</html>
