* {
    box-sizing: border-box;
    font-family: 'Century Gothic', sans-serif;
    }

  body {
    font-family: Arial;
    margin: 0;
  }

  .header img {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }

  .navbar {
    display: flex;
    background-color: #ffeeae;
    position: static;
    top: 0;
    width: 100%;
    justify-content: center
  }

  .navbar a {
    padding: 14px 30px;
    text-decoration: none;
    text-align: center;
    color: black;
  }
  
  .navbar .active, .navbar a:hover {
    background-color: #fde17c;
    color: black;
  }

  .banner img, .cover img {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }

  .row {  
    display: flex;
    flex-wrap: wrap;
  }

  .side {
    flex: 30%;
    background-color: #fdf5d7;
    padding: 20px;
  }

  .main {
    flex: 70%;
    background-color: white;
    padding: 20px;
  }

  .footer {
    padding: 20px;
    text-align: center;
    background: #ffeeae;
  }

  .footer .socials {
    display: flex;
    justify-content: center;
  }

  .footer .socials a {
    text-decoration: none;
    color: black;
    padding: 10px;
  }
  
  @media screen and (max-width: 700px) {
    .row, .navbar {   
      flex-direction: column;
    }
    .navbar a {
      border: 1.5px solid #fcf2cb;
    }
  }