{% extends 'base.html.twig' %}

{% block title %}Online Shop{% endblock %}

{% block style %}"css/about.css"{% endblock %}

{% block content %}
<div class="about">
    <h1>About Us</h1>
</div>
<h2 style="text-align: center">Our Team</h2>
<div class="row">
    <div class="row__container">
        <div class="cards">
            <div class="cards__card card">
                <div class="card__name">
                    Kristina Alekseeva
                </div>
                <div class="card__title">Founder</div>
                <div class="card__description">
                    Gets tired easily..
                </div>
                <div class="card__email">
                    kris.lex1e3@gmail.com
                </div>
                <button class="card__contact-button">Contact</button>
            </div>
            <div class="cards__card card">
                <div class="card__name">
                    Kristina Alekseeva
                </div>
                <div class="card__title">Founder</div>
                <div class="card__description">
                    Gets tired easily..
                </div>
                <div class="card__email">
                    kris.lex1e3@gmail.com
                </div>
                <button class="card__contact-button">Contact</button>
            </div>
            <div class="cards__card card">
                <div class="card__name">
                    Kristina Alekseeva
                </div>
                <div class="card__title">Founder</div>
                <div class="card__description">
                    Gets tired easily..
                </div>
                <div class="card__email">
                    kris.lex1e3@gmail.com
                </div>
                <button class="card__contact-button">Contact</button>
            </div>
            <div class="cards__card card">
                <div class="card__name">
                    Kristina Alekseeva
                </div>
                <div class="card__title">Founder</div>
                <div class="card__description">
                    Gets tired easily..
                </div>
                <div class="card__email">
                    kris.lex1e3@gmail.com
                </div>
                <button class="card__contact-button">Contact</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
