<div class="main__article article">
    <div class="article__title">
        {{ article.title }}
    </div>
    <div class="article__date">
        {{ article.date }}
    </div>
    <div class="article__cover">
        <img src="{{ article.image }}"/>
    </div>
    <div class="article__message">
        Description
    </div>
    <div class="article__text">
        {{ article.text }}
    </div>
</div>