<div class="navbar">
    <div class="navbar__container">
        <div class="navbar__pages">
            <a href="/" id="active">Home</a>
            <a href="/shop">Shop</a>
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
        </div>
        <div class="navbar__icons">
            <a href="/login" class="fa fa-user"></a>
            <a href="/cart" class="fa fa-shopping-cart"></a>
            <a href="/mail" class="fa fa-envelope"></a>
        </div>
    </div>
</div>