{% extends 'base.html.twig' %}

{% block title %}Online Shop{% endblock %}

{% block style %}"css/login.css"{% endblock %}

{% block content %}
    <div class="login-form__container">
        <button type="button"><a href="/login/logout">LOGOUT</a></button>
    </div>
{% endblock %}
